<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  </head>

  <body>
    <div id="lista">
      <ul>
        <li v-for="info in nomes">
          <span>Sr.</span>
          <span v-text="info.nome"></span>
          <span>{{info.sobrenome}}</span>
        </li>

        <br />

        <li v-for="info in nomes">
          {{ info.nome+" "+info.sobrenome+" "+info.idade+" anos,"}}
        </li>
      </ul>
    </div>
    <script src="script.js"></script>
  </body>
</html>
